*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #444343;
  background-color: #e2e2e2; }

.container {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(auto-fit, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 400px repeat(5, min-content);
  grid-auto-rows: auto;
  grid-row-gap: 8rem; }

.header__logo {
  font-size: 1.8rem;
  font-style: italic;
  letter-spacing: .3px; }

.heading__primary {
  font-size: 1.8rem; }

.heading__secondary {
  font-size: 4.5rem; }

.features__heading {
  font-size: 1.8rem; }

.features__text {
  font-size: 1.4rem;
  line-height: 1.5; }

.header {
  padding: 5rem 13rem;
  display: grid;
  grid-row-gap: 5rem;
  grid-template-columns: repeat(2, 1fr); }
  .header__logo {
    grid-column: 1 / 2; }

.social {
  list-style: none;
  grid-column: 2 / -1;
  justify-self: end; }
  .social__link {
    margin-left: 2rem;
    text-decoration: none; }
  .social__icon {
    height: 2rem;
    width: 2rem;
    fill: #686868;
    transition: all .2s; }
    .social__icon--facebook:hover {
      fill: #3b5998; }
    .social__icon--twitter:hover {
      fill: #1da1f2; }
    .social__icon--github:hover {
      fill: #000; }
    .social__icon--linkedin:hover {
      fill: #007bb5; }

.slider {
  grid-row: 2;
  grid-column: 1 /-1;
  justify-self: stretch;
  display: flex;
  flex-direction: column; }
  .slider .holder {
    list-style: none; }
  .slider__control {
    grid-row: 3;
    grid-column: 1/-1;
    justify-self: center;
    align-self: center; }
    .slider__control .icon-controller {
      height: 8px;
      width: 8px; }
    .slider__control--2 {
      fill: #727272; }

.control {
  margin: 1rem 1rem;
  align-self: center; }
  .control__list {
    list-style: none;
    display: flex; }
  .control__item {
    margin-left: 3px; }
  .control .icon__controller {
    height: 1.2rem;
    width: 1.2rem;
    fill: #d1d1d1; }
    .control .icon__controller--2 {
      fill: #727272; }

.arrow-right, .arrow-left {
  grid-row: 2;
  z-index: 2;
  grid-column: 1/2; }

.arrow-right {
  grid-column: 2 /-1;
  align-self: center;
  justify-self: end;
  margin-right: 2rem; }

.arrow-left {
  align-self: center;
  justify-self: start;
  margin-left: 2rem; }

.icon-right, .icon-left {
  height: 3.5rem;
  width: 3.5rem;
  fill: #e2e2e2; }

.header {
  grid-column: 1 / -1;
  background-color: #e2e2e2; }

.slider {
  grid-row: 2; }

.content {
  grid-column: 1/ -1;
  grid-row: 3;
  background-color: #fff; }

.portfolio {
  grid-column: 1 / -1;
  grid-row: 4;
  background-color: #e2e2e2; }

.contact {
  grid-column: 1 / -1;
  grid-row: 5; }

.footer {
  grid-column: 1 / -1;
  grid-row: 6; }

.footer {
  padding: 4rem 13rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  border-top: 1px black solid; }
  .footer .copy {
    font-size: 1.4rem; }
  .footer__social {
    list-style: none; }
    .footer__social__link {
      margin-left: 2rem;
      text-decoration: none; }
    .footer__social__icon {
      height: 2rem;
      width: 2rem;
      fill: #686868;
      transition: all .2s; }
      .footer__social__icon--facebook:hover {
        fill: #3b5998; }
      .footer__social__icon--twitter:hover {
        fill: #1da1f2; }
      .footer__social__icon--github:hover {
        fill: #000; }
      .footer__social__icon--linkedin:hover {
        fill: #007bb5; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.profile__box {
  display: flex;
  margin-bottom: 3rem; }

.profile__image {
  height: 215px;
  width: 200px;
  flex: 0 0 40%; }

.profile__author-detail {
  padding: 1rem 2rem;
  margin-left: 1rem; }

.profile__name {
  font-size: 1.8rem;
  margin-bottom: 8px; }

.profile__description {
  font-size: 1.4rem; }

.author-contact {
  margin-bottom: 3.5rem;
  font-size: 1.6rem;
  color: #242424; }
  .author-contact__title {
    font-style: italic;
    color: #b1b1b1;
    font-size: 1.8rem;
    margin-right: 8px; }

.social-contacts {
  font-size: 1.6rem; }
  .social-contacts__list {
    font-size: 1.6rem; }
  .social-contacts__title {
    color: #b1b1b1;
    font-size: 1.8rem; }
  .social-contacts__link {
    text-decoration: none;
    color: #242424;
    font-style: italic;
    margin-left: 8px; }

.contact {
  padding: 1rem 13rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem; }

.form-container {
  display: flex;
  flex-direction: column; }

input {
  width: 46rem;
  height: 5rem;
  margin-bottom: 2rem;
  color: #7f7f7f;
  font-style: italic; }

textarea {
  width: 46rem;
  margin-bottom: 3rem;
  resize: none; }

input, textarea {
  padding: 2rem 4rem;
  border-style: none;
  background-color: #ebebeb;
  color: #7f7f7f;
  font-size: 1.8rem; }

.btn {
  background-color: #ebebeb;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  color: #7f7f7f;
  border-style: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer; }

.content {
  padding: 5rem 13rem;
  margin-top: 4rem;
  display: grid;
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr); }

.heading {
  grid-column: 1 / -1;
  justify-self: center; }

.features {
  display: flex;
  flex-direction: column;
  margin-top: 3rem; }
  .features .title {
    display: flex;
    align-items: center; }
  .features__icon {
    height: 1.6rem;
    width: 1.5rem; }
  .features__heading {
    margin-left: 1rem; }
  .features__text {
    margin-top: 1.5rem; }

.portfolio {
  padding: 8rem 13rem; }
  .portfolio__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-gap: 2rem; }

.images--3 {
  grid-row: 2; }

.images--4 {
  grid-row: 2; }

.images--5 {
  grid-row: 3; }

.images--6 {
  grid-row: 3; }

.images--7 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 2;
  background-image: url("../../img/slider-1.jpg");
  background-size: cover; }

.slider-control {
  grid-column: 3 / span 2;
  grid-row: 3;
  align-self: end;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem .5rem; }

.slider-icon-left, .slider-icon-right {
  width: 3.5rem;
  height: 3.5rem;
  fill: #d1d1d1;
  flex: 0 0 20%; }

.slider-text {
  font-size: 1.4rem;
  color: #d1d1d1;
  flex: 0 0 60%; }
