
.about {

    display: grid;
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
    grid-template-rows: 25rem 10rem;
    grid-row-gap: 1.5rem;
    padding: 0 2vw;
    // display: flex;
    // flex-direction: column;
}
.profile {
    
    &__picture {
        grid-column: 1 / span 1;
        grid-row: 1 / 2;
    }
    &__image {
      width: 100%;
      max-height: 100%;
    //   object-fit: cover;
    //   display: block;
    }
    &__author-detail {
        padding : 1rem 2rem;
        grid-column: 2 / span 1;
        grid-row: 1 / span 2 ;
    }
    &__name {
        font-size: 1.8rem;
        margin-bottom: 8px;
    }
    &__description {
        font-size: 1.4rem;
    }
}
.author-contact {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3.5rem;
    font-size: 1.6rem;
    color: #242424;


    &__title {
        font-style: italic;
        color : #b1b1b1;
        font-size: 1.8rem;
        margin-right: 8px;


    }
    &__no {
    }
    &__email {

    }

    .social-contacts {
        grid-column: 1 / -1;
        grid-row: 3 / span 1;
        font-size: 1.6rem;
        &__list {
            font-size: 1.6rem;
        }
        &__title {
            color : #b1b1b1;
            font-size: 1.8rem;
        }
        &__link {
            text-decoration: none;
            color: #242424;
            font-style: italic;
            margin-left: 8px;
            
        }
    }
}

