
.content {
  
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    display: grid;
   
    grid-gap: 1.5rem;
    @media(min-width: 800px){
        grid-gap: 2.5rem;
    }
        
}

.heading {

    
    &__primary {
        grid-row: 1;
        font-size: var(--font-heading-secondary);
        justify-self: center;
        align-self: center;
    }

    &__secondary {
        grid-row: 2;        
        font-size: var(--font-heading-primary);
        justify-self: center;

        align-self: center;

        @media(min-width: 800px){
           letter-spacing: 2px;
        }
           


    }


}
.features-box {
    grid-row: 3;        

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    grid-gap: 2rem;
}

.features {
    display: flex;
   flex-direction: column;
   margin-left: 2rem;
   &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    }

&__heading {
    font-size: var(--font-heading-tertiary);
}
&__text {

    font-size: var(--font-text);
    line-height:1.5;

}
  
    &__icons {

    }
    

    &__icon {
        height: 1.6rem;
        width: 1.5rem;


    }

    &__heading {
        margin-left: 1rem;
    
    }

    &__text {

        margin-top: 1.5rem;

    }
}