
.content {
    padding : 5rem 13rem;
    margin-top: 4rem;
    display: grid;
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.heading {
    grid-column: 1 / -1;
    justify-self: center;
    
    &__primary {
        font-size: 1.8rem;
    }

    &__secondary {
      
        font-size: 4.5rem;

    }


}


.features {
    display: flex;
   flex-direction: column;
   margin-top: 3rem;
   
   &__title {
        
}

&__heading {
    font-size: 1.8rem;
}
&__text {

    font-size: 1.4rem;
    line-height:1.5;
}
   
    .title {
        display: flex;
        align-items: center;
        
    }
  
    &__icons {

    }
    

    &__icon {
        height: 1.6rem;
        width: 1.5rem;


    }

    &__heading {
        margin-left: 1rem;
    
    }

    &__text {

        margin-top: 1.5rem;

    }
}