

.contact {

   

}

.form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
}
.name {
    grid-column: 1 / -1;
    grid-row: 1;

}
.email {
    grid-column: 1 / -1;
    grid-row: 2;

}
.url {
    grid-column: 1 / -1;
    grid-row: 3;
}
.description {
    grid-column: 1 / -1 ;
    grid-row: 4;
}
input {
   
    color: #7f7f7f;
    font-style: italic;
    
    

}
textarea{
    resize: none;
    
    
}
input, textarea {
    border-style: none;
    background-color: #ebebeb;
    color: #7f7f7f;
    font-size: 1.8rem;
    padding: 1rem;




}
.btn {
    grid-column: 2 / span 1;
    grid-row: 5;
    background-color: #ebebeb;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    color: #7f7f7f;
    border-style: none;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
}