

.header {
    grid-column: 1 / -1;
    background-color: $grey-bg;
}
.content {
    grid-column: 1/ -1;
    grid-row: 2;
    background-color: #fff;

}
.portfolio {
    grid-column: 1 / -1;
    grid-row: 3;
    background-color: $grey-bg;

}
.contact {
grid-column: 1 / -1;
grid-row: 4;


}
.footer {
    grid-column: 1 / -1;
    grid-row: 5;

}