

.header {
    display: grid;
    grid-row-gap: 1.5rem;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(7, 8vw);
    
    &__title {
        grid-row: 1 ;
        font-size: 1.4rem;
        font-style: italic;
        align-self: center;
        justify-self: center;
        
    }
    &__social-links {
        align-self: center;
        list-style: none;
        grid-row:2;
        justify-self: center;

        .social {
            &__link {
                margin-left : 2rem;
                text-decoration: none;
            }
            &__icon {
        
                height: 2rem;
                width: 2rem;
                fill: #686868;
                transition: all .2s;
                &--facebook {
                    
                    &:hover {
                        fill: #3b5998;
        
                    }
                    
                }
                &--twitter {
                    &:hover {
                        fill:  #1da1f2;
                    }
                }
                &--github {
                    &:hover {
                        fill: #000;
                    }
                }
                &--linkedin {
                    &:hover {
                        fill: #007bb5;
                    }
                }
            }
        }
    
      
    
    }
    &__image {
        grid-row: 3 ;

        &-1 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

    }

}
