

.header {
    padding : 5rem 13rem;
    display: grid;
    grid-row-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);

    
    &__title {
        grid-column: 1 / 2;
        font-size: 1.8rem;
        font-style: italic;
        letter-spacing: .3px;
        
    }
    &__social-links {

        list-style: none;
        grid-column: 2 / -1;
        justify-self: end;

        .social {
            &__link {
                margin-left : 2rem;
                text-decoration: none;
            }
            &__icon {
        
                height: 2rem;
                width: 2rem;
                fill: #686868;
                transition: all .2s;
                &--facebook {
                    
                    &:hover {
                        fill: #3b5998;
        
                    }
                    
                }
                &--twitter {
                    &:hover {
                        fill:  #1da1f2;
                    }
                }
                &--github {
                    &:hover {
                        fill: #000;
                    }
                }
                &--linkedin {
                    &:hover {
                        fill: #007bb5;
                    }
                }
            }
        }
    
      
    
    }
    &__image {
        grid-column: 1 / -1;

        &-1 {
            width: 100%;
        }

    }

}
