

.header {
    grid-column: 1 / -1;
    background-color: $grey-bg;
}
.slider {
    grid-row: 2;
 }
.content {
    grid-column: center-start / center-end;
    grid-row: 3;
    margin-top: 4rem;
    background-color: teal;

}
.portfolio {
    grid-column: 1 / -1;
    grid-row: 4;
    background-color: $grey-bg;

}
.about {
grid-column: center-start / center-end;
grid-row: 5;
background-color: goldenrod;

}
.footer {
    grid-column: 1 / -1;
    grid-row: 6;
    background-color: orangered;

}